
.filterButton {

    font-size: 1.3rem;
    margin-top: 20px;
    color: white;
    background-color:hsl(0, 76%, 61%);
    border: none;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .filterButton:hover {
  
    background-color: black;
    color:hsl(0, 76%, 61%);
    cursor: pointer;
  
  }

  .playerstatsTitleContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    
    
  }

  
.playerstatsTitle {
    margin: 2px;
    font-size: 1rem;
    font-weight: bold;
    flex: 15%;
    padding: 2px;
    border: hsl(0, 76%, 61%) 3px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  @media  screen and (min-width: 800px ) {

    .playerstatsTitle {

      font-size: 1.4rem;
      padding: 5px;
    }


  }