* {
  margin: 0;
  box-sizing: border-box;
}

.header {
 
  color: white;
  font-weight: bolder;
  background-image: url("images/logosBackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5rem;
  text-align: center;
  padding: 20px 0;
  /* height: 150px; */

}

.player-picked-data {
  padding: 5px;
  
}

.player-picked-name .fa-plus-square {

  margin-left:1px;
}
.player-picked-name .fa-plus-square:hover {
  color:hsl(0, 76%, 61%);
  cursor: pointer;

}

.team-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

}


.add-team-label, .minus-team-label {
  font-size: 1.6rem;
  color: hsl(0, 76%, 61%);
  font-weight: bold;
  margin: 10px;
}

.fa-plus-circle, .fa-minus-circle {
  font-size: 1.6rem;
}

.fa-plus-circle:hover, .fa-minus-circle:hover {
  color: red;
  
  cursor: pointer;
}

.filter-container {

  margin: 15px;
  padding: 10px;
  border:hsl(0, 76%, 61%) solid 2px;

  width: 100%;

}

.teamOptions {
  font-size: 1.3rem;
  padding: 2px;
}

.sort-label {
  font-size: 1.3rem;
  margin-left: 15px;
}

.sort-option {
  font-size: 1.3rem;
}

.sortBy {
  font-size: 1.3rem;
  padding: 2px;
}




.player-picked-name .fa-edit {

    display: none;

}

.player-picked-name .fa-edit:hover {
  color:hsl(0, 76%, 61%);
  cursor: pointer;
}




.player-picked-bid .fa-edit {
  display: none;
  font-size: .8rem;
}

.player-picked-bid .fa-plus-square:hover,  .player-picked-bid .fa-edit:hover {

  cursor: pointer;
  color:hsl(0, 76%, 61%);
}


.team-name-header .fa-edit {

  display: none;
} 

.team-name-header .fas:hover{
  color:hsl(0, 76%, 61%);
  cursor: pointer;
}