.filterLabel {
    font-size: 1.3rem;
}

.injuredPlayer {
    margin-right: 20px;
    margin-left: 5px;
}

.teamOptions {
    font-size: 1.3rem;
    padding: 2px;
}
  
.sortLabel {
    font-size: 1.3rem;
    margin-left: 15px;
}
  

.sortBy {
    font-size: 1.3rem;
    padding: 2px;
}
  
  