
.team {
    flex: 15%;
    width: 15%;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
  }


  .titlePlayerTeamPointsBidRow {
    background-color: hsl(0, 76%, 61%);
  }
  
  .teamNameHolder {
    display: none;
    width: 90%;
    font-size: 1.3rem;
  }

  .teamNameValue {
    width: 94%;
    margin-right: 1px;
    margin-bottom: 5px;
  }
